@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
}

header {
    border: 1px solid rgb(204, 204, 204);
    padding: 1.5em;
}

header h1 {
    font-size: 2rem;
    font-weight: lighter;
}

section {
    border-left: 1px solid rgb(204, 204, 204);
    margin: 2.5em;
    padding: 2em;
}

h3 {
    font-size: 1.25rem;
    font-style: none;
    padding-bottom: 0.75em;
}

ul {
    list-style-type: none;
    display: flex;
}

.main-list {
    justify-content: space-between;
}

li {
    font-size: 1.15rem;
}

.nested-list li {
    padding: 0.1em 0.5em;
    margin: 0em 0.25em;
    border-radius: 0.5em;
    background-color: rgb(212, 212, 224);
    border: 0.25em solid rgb(212, 212, 224);
    color: rgb(0, 0, 87);
}

h5,
.title-section .sub-list {
    font-weight: lighter;
    color: rgb(116, 116, 116);
    font-size: 1.1rem;
}

input {
    width: 100%;
    margin: 0.25em 0em;
    border-radius: 0.25em;
    padding: 0.5em 0.25em;
    box-sizing: border-box;
    border: 0.1em solid rgb(212, 212, 224);
    -webkit-transition: 500ms;
    transition: 500ms;
    outline: none;
}

input:focus {
    border-color: rgb(74, 74, 148);
}

.title-section .sub-list {
    display: flex;
    justify-content: space-between;
}

a,
a:link,
a:hover,
a:active,
a:focus {
    text-decoration-line: none;
    color: rgb(46, 46, 243);
    font-size: 1.25rem;
    font-weight: bold;
}

.cover-image-section div,
.author-section .sub-list li {
    padding: 0.5em 1em;
}

button {
    margin: 0.25em 0em;
    border: none;
    padding: 0.25em 0.5em;
    background-color: rgb(168, 168, 230);
    border-radius: 0.3em;
    color: white;
}